generic-device-fancyvator/src/main/schemas/GDFScene.xsd

<?xml version = "1.0"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="https://github.com/csumpakabra/GenericDeviceFancyvator/blob/master/app/src/main/schemas/GDFScene.xsd"
    xmlns:gdf="https://github.com/csumpakabra/GenericDeviceFancyvator/blob/master/app/src/main/schemas/GDFScene.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xsd:simpleType name="transition_type" final="restriction">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="fade" />
            <xsd:enumeration value="rotate" />
            <xsd:enumeration value="scale" />
            <xsd:enumeration value="translate" />
            <xsd:enumeration value="flipbook" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="cycle_type" final="restriction">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="yoyo" />
            <xsd:enumeration value="restart" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="transition">
        <xsd:attribute name="duration" type="xsd:int" use="required"/>
        <xsd:attribute name="ease" type="ease" default="linear"/>
        <xsd:attribute name="cycle_type" type="cycle_type" default="restart"/>
        <xsd:attribute name="cycle_count" type="xsd:int" use="required"/>
    </xsd:complexType>
    <xsd:complexType name="fade_transition">
        <xsd:complexContent>
            <xsd:extension base="transition">
                <xsd:sequence>
                    <xsd:element name="from_alpha" type="xsd:float" />
                    <xsd:element name="to_alpha" type="xsd:float" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="translate_transition">
        <xsd:complexContent>
            <xsd:extension base="transition">
                <xsd:sequence>
                    <xsd:element name="by_x" type="measure" />
                    <xsd:element name="by_y" type="measure" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="rotate_transition">
        <xsd:complexContent>
            <xsd:extension base="transition">
                <xsd:sequence>
                    <xsd:element name="from_angle" type="xsd:float" />
                    <xsd:element name="to_angle" type="xsd:float" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="scale_transition">
        <xsd:complexContent>
            <xsd:extension base="transition">
                <xsd:sequence>
                    <xsd:element name="from_x" type="xsd:float" />
                    <xsd:element name="to_x" type="xsd:float" />
                    <xsd:element name="from_y" type="xsd:float" />
                    <xsd:element name="to_y" type="xsd:float" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="flipbook_transition">
        <xsd:complexContent>
            <xsd:extension base="transition">
                <xsd:sequence>
                    <xsd:element name="sprite" maxOccurs="unbounded" type="sprite" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:simpleType name="pivot">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="top_left" />
            <xsd:enumeration value="top_center" />
            <xsd:enumeration value="top_right" />
            <xsd:enumeration value="center_right" />
            <xsd:enumeration value="bot_right" />
            <xsd:enumeration value="bot_center" />
            <xsd:enumeration value="bot_left" />
            <xsd:enumeration value="center_left" />
            <xsd:enumeration value="center" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="relativity_type">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="scene" />
            <xsd:enumeration value="sprite" />
            <xsd:enumeration value="none" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="scene_relative_position">
        <xsd:sequence>
            <xsd:element name="scene_point" type="pivot"/>
            <xsd:element name="x_distance_from_pivot" type="measure"/>
            <xsd:element name="y_distance_from_pivot" type="measure"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sprite_relative_position">
        <xsd:sequence>
            <xsd:element name="relative_sprite_id" type="xsd:string"/>
            <xsd:element name="relative_sprite_point" type="pivot"/>
            <xsd:element name="x_distance_from_sprite" type="measure"/>
            <xsd:element name="y_distance_from_sprite" type="measure"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="position">
        <xsd:choice>
            <xsd:element name="sprite_relative_position" type="sprite_relative_position"/>
            <xsd:element name="scene_relative_position" type="scene_relative_position"/>
        </xsd:choice>
    </xsd:complexType>
    <xsd:complexType name="measure">
        <xsd:sequence>
            <xsd:element name="relativity" type="relativity_type" />
            <xsd:element name="relative_to" minOccurs="0" type="xsd:string" />
            <xsd:element name="value" type="xsd:float" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sprite_transform">
        <xsd:sequence>
            <xsd:element name="position" type="position"/>
            <xsd:element name="pivot" type="pivot" />
            <xsd:element name="width" type="measure" />
            <xsd:element name="height" type="measure" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sprite">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:string" />
            <xsd:element name="resource" type="xsd:string" />
            <xsd:element name="sprite_topleft_u" type="xsd:float" />
            <xsd:element name="sprite_topleft_v" type="xsd:float" />
            <xsd:element name="sprite_botright_u" type="xsd:float" />
            <xsd:element name="sprite_botright_v" type="xsd:float" />
            <xsd:element name="sprite_transform" type="sprite_transform" />
            <xsd:element name="alpha" type="xsd:float" default="0"/>
            <xsd:element name="scaleX" type="xsd:float" default="1"/>
            <xsd:element name="scaleY" type="xsd:float" default="1"/>
            <xsd:element name="rotation" type="xsd:float" default="0"/>
            <xsd:element name="pivot" type="pivot" />
            <xsd:element name="transition" maxOccurs="unbounded" minOccurs="0">
                <xsd:complexType>
                    <xsd:choice>
                        <xsd:element name="fade_transition" type="fade_transition" />
                        <xsd:element name="translate_transition" type="translate_transition" />
                        <xsd:element name="rotate_transition" type="rotate_transition" />
                        <xsd:element name="scale_transition" type="scale_transition" />
                        <xsd:element name="flipbook_transition" type="flipbook_transition" />
                    </xsd:choice>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="ease" final="restriction">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="linear" />
            <xsd:enumeration value="cubic_in" />
            <xsd:enumeration value="cubic_out" />
            <xsd:enumeration value="cubic_inout" />
            <xsd:enumeration value="quad_in" />
            <xsd:enumeration value="quad_out" />
            <xsd:enumeration value="quad_inout" />
            <xsd:enumeration value="sine_in" />
            <xsd:enumeration value="sine_out" />
            <xsd:enumeration value="sine_inout" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="background_type">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="simple" />
            <xsd:enumeration value="image" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="background">
        <xsd:sequence>
            <xsd:element name="background_type" type="background_type" />
            <xsd:element name="background_source" maxOccurs="1" minOccurs="1">
                <xsd:complexType>
                    <xsd:choice>
                        <xsd:element name="image_background" type="image_background" />
                        <xsd:element name="diffuse_background" type="diffuse_background" />
                    </xsd:choice>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="image_background">
        <xsd:complexContent>
            <xsd:extension base="sprite" />
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="diffuse_background">
        <xsd:sequence>
            <xsd:element name="color" type="xsd:int" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="on_click">
        <xsd:sequence>
            <xsd:element name="sprite" maxOccurs="unbounded" type="sprite" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="camera">
        <xsd:sequence>
            <xsd:element name="recenter_after_swipe" type="xsd:boolean" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="scene">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="scene_properties" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="background" minOccurs="0" type="background_type" />
                            <xsd:element name="on_click" minOccurs="0" type="on_click" />
                            <xsd:element name="camera" minOccurs="0" type="camera" />
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="sprite" maxOccurs="unbounded" minOccurs="0" type="sprite" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>


